.hide {
    display: none;
}
.alternative {
    list-style-type: none;

}
/* .start-quiz-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .timer {
    display: flex;
    align-items: flex-end;
}
.high-score {
    display: flex;
    align-items: flex-start;
} */